.19830_25 { 
	overflow:hidden;
}.e19830_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e19830_26 { 
	background-color:rgba(6.000000117346644, 27.000000290572643, 54.00000058114529, 1);
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}.e19830_27 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:21px;
	position:absolute;
	left:122px;
	top:255px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:-0.30000001192092896;
}.e19830_28 { 
	width:286px;
	height:124px;
	position:absolute;
	left:52px;
	top:360px;
}.e19830_29 { 
	width:47.832740783691406px;
	height:7.935999870300293px;
	position:absolute;
	left:119.58203125px;
	top:116.06400299072266px;
}.e19830_30 { 
	background-color:rgba(94.0000019967556, 167.00000524520874, 255, 1);
	width:7.97212553024292px;
	height:7.935999870300293px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.e19830_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.98606276512146px;
	height:3.9679999351501465px;
	position:absolute;
	left:23.916015625px;
	top:1.9840351343154907px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.e19830_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.98606276512146px;
	height:3.9679999351501465px;
	position:absolute;
	left:43.8466796875px;
	top:1.9840351343154907px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}.e19830_33 { 
	width:286px;
	height:85.31199645996094px;
	position:absolute;
	left:0px;
	top:0px;
}.e19830_34 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:38px;
	position:absolute;
	left:51px;
	top:0px;
	font-family:Lato;
	text-align:center;
	font-size:18px;
	letter-spacing:-0.30000001192092896;
}.e19830_35 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:286px;
	height:47.61600112915039px;
	position:absolute;
	left:0px;
	top:37.69599914550781px;
	font-family:Lato;
	text-align:center;
	font-size:16px;
	letter-spacing:-0.30000001192092896;
}.e19830_36 { 
	width:92px;
	height:96px;
	position:absolute;
	left:149px;
	top:75px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19830_37 { 
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:36px;
	top:636px;
}.e19830_38 { 
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:0px;
	top:0px;
}.e19830_39 { 
	background-color:rgba(94.0000019967556, 167.00000524520874, 255, 1);
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e19830_40 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:18px;
	position:absolute;
	left:96px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:-0.30000001192092896;
}.e19830_41 { 
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:36px;
	top:744px;
}.e19830_42 { 
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:0px;
	top:0px;
}.e19830_43 { 
	background-color:rgba(94.0000019967556, 167.00000524520874, 255, 1);
	width:327px;
	height:60.09677505493164px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e19830_44 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:22px;
	position:absolute;
	left:127px;
	top:21px;
	font-family:Lato;
	text-align:center;
	font-size:18px;
	letter-spacing:-0.30000001192092896;
}